.layout {
  height: 100vh;
  width: 100vw;
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    .left {
      display: flex;
      flex: 1;
      align-items: center;
      .logo {
        width: 150px;
        height: 35px;
        // background-color: #3c4a56;
        margin-right: 20px;
        // color: rgb(200, 200, 200);
        line-height: 35px;
        text-align: center;
      }
      .menu {
        flex: 1;
      }
    }
    .right {
      // background-color: #3c4a56;
      // height: 64px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .avatar {
        margin-left: 20px;
        // background-color: #3c4a56;
      }
    }
  }
  .layout_layout {
    margin-top: 64px;
    max-height: calc(100vh - 64px);
    overflow-x: auto;
    .content {
      padding: 30px 50px;
      box-sizing: border-box;
      min-height: calc(100vh - 64px - 80px);
    }
    .footer {
      text-align: center;
      color: #3c4a56;
      border-top: 1px solid #d0d0d0;
      height: 60px;
      width: 100%;
      line-height: 50px;
    }
  }
}
