$width: 100%;
$height: 100%;
.content {
  width: $width;
  height: $height;
  .dashboardWrap {
    width: $width;
    height: $height;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    .gridItem {
      box-sizing: border-box;
      border: 1px solid #f0f0f01a;
      .chartItem {
        width: calc($width / 4);
        height: calc($height / 3);
        position: absolute;
      }
    }
  }
}
