.layout {
  width: 100%;
  height: 100%;
  background-color: white;
  .sider {
    background-color: white;
    width: 300px;
    height: auto;
    max-height: 100vh;
    overflow-y: auto;
    .menu {
      height: auto;
    }
  }
  .content {
    width: calc(100vw - 300px);
    height: 100vh;
    .content_layout {
    }
    .content_header {
      width: 100%;
      border-bottom: 1px solid #e8e8e8;
      background-color: #fff;
      height: 40px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
    .content_content {
      height: calc(100vh - 40px);
      overflow-y: auto;
      width: 100%;
    }
    .content_content_inner {
      height: auto;
    }
  }
}
